*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: rgb(0, 0, 0);
  background: rgb(246, 246, 246);
  font-family: 'Montserrat', 'Open Sans';
  font-size: 18px;
}

/* global.css */

/* Colori principali */

.header {
  background-color: #ffffff; /* BACKGROUND 2 */
}

/* Tipografia */
h1 {
  font-size: 32px; /* Header 1 Desktop */
}

h1.mobile {
  font-size: 18px; /* Header 1 Mobile */
}

h2 {
  font-size: 22px; /* Header 2 Desktop */
}

h2.mobile {
  font-size: 14px; /* Header 2 Mobile */
}

p {
  font-size: 18px; /* Body Text Desktop */
}

p.mobile {
  font-size: 12px; /* Body Text Mobile */
}

/* Link */
a {
  color: #067bc2; /* HYPERLINK */
  text-decoration: none;
}

a.active {
  color: #000000; /* PRIMARY */
}

/* Errori */
.error-message {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: red;
}

.input-field {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 14px;
  }

  .button {
    font-size: 12px;
  }
}
